@supports (display: grid) {
  @media (min-width: 640px) {
    .cover {
      container: cover / inline-size;

      .cover__image-content {
        @container cover (max-width: 120dvmin) {
          z-index: -1;
          grid-column: 1 / 4;
          opacity: 0.3;
        }
      }
    }
  }
}
