:root {
  --red: hsl(18 100% 50%);
  --green: hsl(130 52% 46%);
  --primary: hsl(230, 45%, 20%);
  --transition: 0.2s;
  --valid: var(--green);
  --invalid: var(--red);
  --focus: var(--primary);
}

.form {
  display: grid;
  grid-gap: 1rem;
  min-height: 90vh;
}

.form__input,
.form__textarea,
.form__select {
  padding-inline: 0.5rem;
  font-weight: 400;
  border: 2px solid var(--color);
  border-radius: 4px;
  transition: border-color var(--transition);
}

.form__input-file {
  width: fit-content;
}

.form__input:focus-visible {
  outline-color: var(--color);
}

.form__input::placeholder {
  color: var(--primary);
}

.form__group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

label {
  padding-right: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  transform-style: preserve-3d;
  @include transition(color var(--transition));
  color: var(--color);
}

@layer invalid {
  .form__group:has(:invalid) {
    --color: var(--invalid);
  }
}

.form__group:has(:focus) {
  --color: var(--focus);
}

@layer valid {
  .form__group:has(:valid) {
    --color: var(--valid);
  }
}

@layer normal {
  .form__group:has(:placeholder-shown) {
    --color: var(--primary);
  }
}

.form__textarea--big {
  height: 10rem;
}
