/**
* Mixin tools
*/

//Se comenta por pruebas de rendimiento, muestra ejemplos de mixins
/*
@mixin border-radius($size) {
  -webkit-border-radius: $size;
  -moz-border-radius: $size;
  border-radius: $size;
}

@mixin animation($args) {
  -webkit-animation: $args;
  -moz-animation: $args;
  -ms-animation: $args;
  -o-animation: $args;
  animation: $args;
}
*/

@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transform($args) {
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  transform: $args;
}

/**
* Gradiente linear reutilizable para aplicar difuminado en uno de los extremos de una imagen
*/
@mixin background-linear-gradient($direction) {
  background: linear-gradient(
    $direction,
    $color-transparent 70%,
    $color-secondary 100%
  );
}


