/*======= #FONT IMPORTS =======*/

//Import Merienda google font
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap");

/*======= #FONT PROPERTIES =======*/

/** #Font-family **/
$family-font-primary: "Merienda", cursive;

/** #Font-size (1rem = 16px) **/
$font-size-biggest: 2rem;
$font-size-h1: 1.5rem;
$font-size-h2: 1.25rem;
$font-size-big: 1.1rem;
$font-size-h3: 1rem;
$font-size-normal: 0.95rem;
$font-size-small: 0.85rem;
$font-size-smallest: 0.8rem;

/** #Font-weight **/
$font-weight-strong-bold: 900;
$font-weight-bold: 700;
$font-weight-light-bold: 500;

/** #Others **/
